﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<body>
       <table class="wrapper" border="1px" cellpadding="0" cellspacing="0" style="
            margin:0px auto;
            padding:0;
            max-width: 600px;
            width: 100%; font-family: Arial, serif;"
            align="center"  >
           <tbody width="100%">
            <tr>
                <td>
                    <table class="footer" border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:15px" align="center" bgcolor="#2D9CDB" width="100%">
                        <tbody>
                        <tr>
                            <td style="text-align: center">
                                <img src="http://www.mooovme.com/images/email-icon.png" alt="" width="114"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="body" border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="100%" align="center">
                        <tbody width="100%">
                            <tr>
                                <td class="title" style="
                                padding: 30px;
                                text-align: center;
                                font-size: 36px;
                                font-weight: normal;
                                color: #828282">Email Confirmation</td>
                            </tr>
                            <tr>
                                <td class="content" style="
                                text-align: center">
                                    Hello {{UserName}}! You’re almost already to start enjoying MooovMe. <br area-hidden="true" /> Symply click the big green button bellow to verify <br area-hidden="true" /> your email address.
                                </td>
                            </tr>
                            <tr>
                                <td style="
                                    padding: 35px;
                                    text-align: center;">
                                    <a href="{{ConfirmationUrl}}" class="link-button" style="
                                    background-color: #ABE831;
                                    display: inline-block;
                                    padding: 10px 30px;
                                    color: #fff;
                                    text-decoration: none;
                                    border-radius: 10px">Verify email address</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="footer" border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:15px" align="center" bgcolor="#E6E6E6" width="100%">
                        <tbody>
                        <tr>
                            <td style="
                            padding-top: 0px;
                            text-align: center;
                            font-size: 14px;
                            line-height: 1.2em;
                            color: #4F4F4F">Email sent by MooovMe <br area-hidden="true" /> Copyright c 2018 Mooovme LTD, All rights reserved.</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
           </tbody>
       </table>
</body>
</html>